body {
    background: #1d1d1d;
    color: #757575
}

/*公共样式*/

.bg{
    background-color: #161616;
}
.container{
    width: 1180px;
}
.mb60 {
    margin-bottom: 60px!important
}
.f16{
    font-size: 16px;
}
.c-red {
    color: #c30d23!important
}
.c-strong{
    color: #f99a29!important;
}
.text-indent {
    text-indent: 2em
}

.table tr th{
    background: #282828;
    background: linear-gradient(to bottom,#282828 0,#282828 40%,#212121 50%,#212121 100%);
    color: #fff;
    border:1px solid #454545;
    font-size: 18px;
    padding: 14px 10px;
}
.table tr td {
    padding: 12px 10px;
    color: inherit;
    border:none;
    background: none;
}
.table tr:nth-child(even) td{
    background: none;}
.table tr:nth-child(odd) td {
    background: #202020;
    background: rgba(0,0,0,.2);
    padding: 14px 10px;
    border: none;
}

.m-content h3 {
}
.m-content p {
    margin:4px 0;
}

/*头部*/
.header{
    /* height: 60px; */
    background: #333;
    overflow: hidden;
}
.header-inner{
    width: 1200px;
    margin: 0 auto;
}
.header .toplink{
    display: inline-block;
    /* padding-top: 20px;*/
}
.header .toplink a{
    display: block;
    position: relative;
    float: left;
    height: 70px;
    /* width: 70px; */
    padding: 12px 19px 0;
    border-right: 1px solid #393939;
    text-align: center;
    font-size: 16px;
    color: #fff;
    transition: all .3s;
}
.header .toplink.two a{
    padding-top: 22px;
}
.header .toplink.two a,
.header .toplink a:hover{
    background-color: #555;
}
.header .toplink a:hover:after{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    content: '';
    display: block;
    height: 2px;
    background: #f99a29;
}
.header .toplink a .t{
    display: block;
    color: #7d7d7d;
    font-size: 12px;
}
.header .toplink a:hover{
    color: #e2e2e2
}


/*页面内容*/
.page-bg {
    background: #1d1d1d url(/images/topic/live/bg.jpg) 50% 0 no-repeat;
    /*overflow: hidden;*/
    transition: all 2.4s ease-in-out;
    /* animation: anim-bg 10s forwards;*/
    background-size: 1920px 1036px;
    min-height: 100%;
    padding-top: 318px;
    position: relative;
}
.page-bg.active{
    padding-top: 319px;
    background-size: 2304px 1243px;
}
.page-bg .page-tit{
    background: url(/images/topic/live/caption.png?v=9) 0 30px no-repeat;
    width: 571px;
    height: 230px;
    /* margin-bottom: 50px; */
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -255px;
    transform: scale(1.2);
    transition: all 1.5s ease-in-out;
}
.page-bg .page-tit .time{
    font-size: 21px;
    color: #fff;
    position: absolute;
    left: 196px;
    top: 37px;
}
.page-bg .page-tit.s-2{
    top:20px;
    margin-left: -590px;
    transform: scale(1);
}

.main {
    padding-bottom: 80px;
    position: relative;
}
.main .aside{
    float: left;
    width: 750px;
}
/*视频播放*/
.video-box{
    background:#000;

    height: 334px;
    margin-bottom: 32px;
    text-align: center;
}
.video-box .tip{
    font-size: 80px;
    color: #fff;
    padding-top: 100px;
}
/*精彩回顾*/
.video-box.two{
    position: relative;
    background:url(../../images/topic/live/time.png) 20px 20px no-repeat rgba(0,0,0,.8);
    padding: 24px 78px;
    color: #8b8b8b;
    font-size: 16px;
    height: auto;
    text-align: left;
}
.video-box em{
    color: #ff2c5b;
}
.video-box .pic{
    margin: 36px 0;
}
.comment-box .comment-list{
    height: 320px;
    overflow: auto;
    background: rgba(0,0,0,.8);
}
.comment-box .tb-comment {
    width: 100%;
}
.comment-box .tb-comment th,
.comment-box .tb-comment td{
    padding: 14px 0 0 16px;
    text-align: left;
}
.comment-box .tb-comment th{
    font-size: 16px;
}
.comment-box .ipt-group{
    position: relative;
    padding-right: 88px;
}
.comment-box .ipt-group .ipt-txt{
    display: block;
    background: #fff;
    height: 42px;
    line-height: 42px;
    text-align: left;
    width: 100%;
    color: #000;
    padding-left:18px;
}
.comment-box .ipt-group .btn{
    position: absolute;
    right: 0;
    width: 88px;
    height: 42px;
    font-size: 20px;
    line-height: 42px;
    background: #f99a29;
    color: #fff;
    border-radius: 0;
}

/*人物详情*/
.profile-box .item{
    float: left;
    padding: 80px 10px;
    width: 50%;
}
.profile-box  .pic{
    float: left;
    width: 225px;
    margin-right:20px;
    height: 225px;
    border-radius: 50%;
    overflow: hidden;
    transition: all .3s;
}
.profile-box  .pic:hover{
    opacity: .8;
}
.profile-box .pic img{
    width: 100%;
    height: auto;
}
.profile-box h2{
    color: #f99a29;
    font-size: 30px;
    margin-bottom: 18px;
}

/*轮播图*/
.gallery-wrap{
    height: 564px;
    overflow: hidden;
    padding:30px 0;
}
.swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    background-size: cover;
    background-position: center;
}
.gallery-top {
    height: 80%;
    width: 100%;
}
.gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}
.gallery-thumbs .swiper-slide-active {
    opacity: 1;
}

.video-box.open .tip{
    display: none;
}
.video-box .video{
    display: none;
}
.video-box.open .video{
    display: block;
}

