@import "base/common";

body{
	.common-header{
		@include box-shadow(none);
	}
	
	>.main-wrap{
	
		.header-margin{
			height:3em;
		}
	
		>.content{
			.tab-block{
				position: fixed;
				top:2.5em;
				left:0;
				z-index:2;
				
				width:100%;
				overflow-x: auto;
				
				white-space: nowrap;
				
				background-color: $primary3;
				
	    		@include box-shadow(0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24));
				@include transition(top .3s ease-in-out);
				
				.tab-button{
					position: relative;
					
					display:inline-block;
					width: 4.5em;
	   				min-width: 50%;
					
					text-align: center;
					color: $primary4;
					
					.text {
						width: 100%;
						margin-bottom:.5em;
						
						font-size: 50%;
						text-align: center;
					}
					
				  	.icon {
				  		font-size: 150%;
					}
					
							
					&.active{
			   	 		color: $primary2;
			   	 		
			   	 		&:after {
					    	opacity: 1;
						    @include transform(scaleX(1));
						}
					}
					
					&:hover{
			   	 		color: #fff;
			   	 		
			   	 		&:after {
					    	opacity: 1;
						    @include transform(scaleX(1));
						}
					}
					
					&:after {
					    position: absolute;
					    left: 0;
					    right: 0;
					    bottom: 0;
					    
					    display: block;
					    height: 3px;
					    
					    background: $primary2;
					    opacity: 0;
					    
					    content: '';
					    
					    @include transform(scaleX(.2));
					    
					    @include transition;
					}
				}
			}
		
	   		.game-detail{
				position: relative;
				
				display: inline-block;
				width:100%;
				
				.game-box{
					position:relative;
			
					display: inline-block;
					width:100%;
	    			margin-bottom: .5em;
	    			
	    			background-color: #CACACA;
					
					&.loaded{
						img{
							height:auto;
							
							opacity:1;
						}
					}
					
					&.broken{
						&:before{
							position: absolute;
							top:50%;
							left:50%;
							content:'Image Not Found';
							
							@include transform(translate(-50%,-50%));
						}
					}
					
					img{
						width:100%;
						height:10em;
						
						opacity:0;
						
						@include transition;
					}
					
					.name{
						display:inline-block;
						width:100%;
						
						text-align: center;
						line-height:200%;
						
						background-color: rgba(0, 0, 0, 0.7);
			    		color: #d8ad56;
					}
					
					.buttons{
						display:inline-block;
						width:100%;
						
					    font-size: 60%;
					    line-height: 250%;
						text-align: center;
						
						background-color: rgba(0, 0, 0, .7);
						
						a{
							display:inline-block;
							width:50%;
							
							text-align: center;
							background-color:#F44336;
							
							&:FIRST-CHILD{
								background-color:$primary2;
							}
							
							&:link{
			    				color: #fff;
	   						}
	   						&:visited{
	   							color: #fff;
	   						}
	   						&:hover{
	   							color: #fff;
	   						}
	   						&:active{
	   							color: #fff;
	   						}
						}
					}
				}
				
				.message{
				    position: relative;
				    
				    line-height:250%;
				    border-bottom: 1px solid #d8ad56;
				    
				    .text{
					    display: inline-block;
					    width: 100%;
					    padding-right: 4em;
					    box-sizing: border-box;
					    overflow: hidden;
					    
					    white-space: nowrap;
					    text-overflow:ellipsis;
					    
					    a {
	   						
	   						&:link{
			    				color: #d8ad56;
	   						}
	   						&:visited{
	   							color: #d8ad56;
	   						}
	   						&:hover{
	   							color: #d8ad56;
	   						}
	   						&:active{
	   							color: #d8ad56;
	   						}
	   					}
				    }
				    
					.date{
						position:absolute;
						top:0;
					    right:0;
					    bottom: 0;
					    
					    font-size: 50%;
					    
					    color: #DB890C;
					}
					
					.game-content{
						height: 0;
	   					overflow: hidden;
	   					
						text-indent:2em;
					    line-height: 150%;
					    font-size: 80%;
					    
					    color: #fff;
					    
						@include transition(all .5s ease-in-out);
						
					}
				}
			}
	    }
	}
}
