.daili_body {
    background: url(../images/hs_beijing.jpg) repeat;
}

body .m-content ul {
    list-style: none;
}

.daili_box .li_box1 {
    background: url(../images/agent/banner2.png) no-repeat;
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
}

.daili_box .li_box2 {
    background: url(../images/agent/banner1.png) no-repeat;
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
}

.daili_box .li_box3 {
    background: url(../images/agent/banner3.png) no-repeat;
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
}

.hd ul li {
    float: left;
    width: 400px;
    height: 206px;
    background: #eeeeee;
}

.dl_box {
    width: 1200px;
    height: 206px;
    margin: -206px auto;
    position: relative;
}

.dl_box .list1 {
    border-top-left-radius: 25px;
}

.dl_box .list3 {
    border-top-right-radius: 25px;
}

.dl_box ul .on {
    background: #2c8ba3;
}

.dl_box .list1 .list_center1 {
    background: url(../images/agent/mull_1.png) no-repeat;
    background-position: center center;
    width: 220px;
    height: 146px;
    margin: 20px auto;
}

.dl_box .list2 .list_center2 {
    background: url(../images/agent/mull_list2.png) no-repeat;
    background-position: center center;
    width: 220px;
    height: 146px;
    margin: 20px auto;
}

.dl_box .list3 .list_center3 {
    background: url(../images/agent/mull_3.png) no-repeat;
    background-position: center center;
    width: 220px;
    height: 146px;
    margin: 20px auto;
}

.dl_box .on .list_center1 {
    background: url(../images/agent/mull_jihuo1.png) no-repeat;
    background-position: center center;
    width: 220px;
    height: 146px;
    margin: 20px auto;
}

.dl_box .on .list_center2 {
    background: url(../images/agent/mull_jihuo2.png) no-repeat;
    background-position: center center;
    width: 220px;
    height: 146px;
    margin: 20px auto;
}

.dl_box .on .list_center3 {
    background: url(../images/agent/mull_jihuo3.png) no-repeat;
    background-position: center center;
    width: 220px;
    height: 146px;
    margin: 20px auto;
}

.dl_center {
    width: 1200px;
    margin: 0 auto;
    min-height: 1165px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    background: #FFFFFF;
}

.gb-sidenav {
    float: left;
    width: 233px;
    margin: 3px 0 0 3px;
    background: url(../images/agent/aboutus_muii.jpg) no-repeat;
    height: 965px;
    padding-top: 67px;
}

.gb-sidenav ul li {
    width: 170px;
    margin: 0 auto;
    background: #cccccc;
    border-radius: 15px;
    margin-left: 17px;
    color: #666666;
}

.gb-sidenav ul li > a {
    position: relative;
    display: block;
    margin-bottom: 10px;
    line-height: 48px;
    text-align: left;
    padding-left: 50px;
    font-size: 16px;
    transition: all .15s;
}

/* 本例子css */

.picFocus {
    margin: 0 auto;
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
    zoom: 1;
}

.picFocus .bd li {
    vertical-align: middle;
}

/*合作协议弹框
===========*/

.dialog-agentreg .modal-hd {
    border-bottom: 1px solid #ccc;
}

.dialog-agentreg .modal-dialog {
    width: 780px;
    margin-top: 0;
}

@media screen and (min-width: 1366px) {
    .dialog-agentreg .modal-dialog {
        margin-top: 80px;
    }
}

.dialog-agentreg .modal-title {
    font-size: 18px;
    font-weight: 600;
}

.dialog-agentreg .modal-title .tip {
    margin-left: 10px;
    font-size: 12px;
    font-weight: normal;
}

.reg-page .reg-nav {
    height: 105px;
    border-bottom: 3px solid #e0a85b;
    text-align: center;
    padding-top: 42px;
    background: #eee;
}

.w_agent {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    background-color: #fff;
    width: 800px;
    overflow: hidden;
    position: relative;
}

.w_agent .close {
    background-color: #cccccc;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    top: 20px;
    right: 20px;
}

.w_agent .modal-content {
    background-color: #fff;
}

.w_agent .reg-nav div {
    height: 60px;
    width: 200px;
    line-height: 60px;
    background: #2c8ba3;
    cursor: pointer;
    display: inline-block;
    border-radius: 10px 10px 0 0;
    font-size: 22px;
    color: #fff;
}

.w_agent .reg-nav div.active {
    background-color: #e0a85b;
}

.w_agent .reg-page-body {
    text-align: center;
    overflow: hidden;
    padding: 39px 0 0;
}

.w_agent .m-row {
    padding: 0 58px 0;
}

.w_agent .ui-form-item {
    display: inline-block;
    width: 324px;
    border: 1px solid #eee;
    height: 40px;
    color: #666;
    line-height: 38px;
    padding: 0 14px 0 130px;
    position: relative;
    background-color: #fff;
    margin-bottom: 20px;
}
.w_agent .ui-form-item .linktxt{
    position: absolute;
    top:40px;
    line-height: 20px;
    left: 126px;
    color: #666;
}
.w_agent .reg-login .ui-form-item,.w_agent .reg-login .verify-code {
    width: 485px;
}
.w_agent .reg-login .verify-code .ui-form-item {
    width:362px;
}

.w_agent .verify-code {
    text-align: left;
    width: 324px;
    display: inline-block;
}

.w_agent .verify-code .ui-form-item {
    width: 200px;
}

.verify-code .validatecode {
    float: right;
    width: 115px;
    height: 40px;
}

.reg-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 51px;
    height: 38px;
    text-align: center;
    display: inline-block;
    line-height: 38px;

}

.reg-icon::after {
    content: '';
    height: 38px;
    display: inline-block;
    vertical-align: middle;
    background: url("../images/regicon.png") no-repeat;
}

.reg-icon.user::after {
    width: 22px;
    background-position: 0 center;
}

.reg-icon.pwd::after {
    width: 30px;
    background-position: -37px center;
}

.reg-icon-btn {
    background: url("../images/regicon.png") no-repeat;
    background-position: -37px center;
    width: 30px;
    height: 27px;
    vertical-align: middle;
    display: inline-block;
}

.reg-icon.key::after {
    width: 23px;
    background-position: -122px center;
}

.reg-icon.phone::after {
    width: 16px;
    background-position: -85px center;
}

.reg-icon.name::after {
    width: 30px;
    background-position: -159px center;
}

.reg-icon.email::after {
    width: 28px;
    background-position: -201px center;
}

.reg-icon.qq::after {
    width: 23px;
    background-position: -245px center;
}

.reg-icon.link::after {
    width: 21px;
    background-position: -286px center;
}

.reg-icon.code::after {
    width: 26px;
    background-position: -325px center;
}

.reg-icon.wechat::after {
    width: 29px;
    background-position: -364px center;
}
.w_agent  .ui-form-item:after{
    content:'';
}
.w_agent label.error-tip {
    line-height: 20px;
    right: 0;
    white-space: nowrap;
}

.w_agent .ui-form-item .icon-warp {
    position: absolute;
    left: 51px;
    height: 15px;
    top: 12px;
    padding-left: 9px;
    line-height: 15px;
    color: #666;
    font-size: 14px;
    border-left: 1px solid #eee;
}

.w_agent .ui-form-item .form-control {
    text-align: right;
    width: 100%;
    height: 38px;
    line-height: 38px;
    vertical-align: top;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
}

.w_agent .ipt-tip {
    display: none;
}

.w_agent .agree {
    position: relative;
    color: #666;
    line-height: 60px;
    margin-bottom: 20px;
}

.btn-warp-reg .btns span, .w_agent .agree a {
    color: #e0a85b;
}
.btn-warp-reg .btns {
    cursor: pointer;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    background-color: #2c8ba3;
    border: none;
    outline: none;
    width: 180px;
    color: #fff;
    font-size: 14px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
}

.btn-warp-reg .btns.daili_btn {
    background: #dfa85a;
    width: 290px;
    margin-right: 15px;
}

.btn-warp-reg {
    background: #eeeeee url("../images/wres_03.jpg") 0 0 repeat-x;
    height: 108px;
    padding-top: 27px;
}

body .gb-main-r .m-content {
    padding: 66px 30px 80px;
    margin: 16px 25px 30px 0;
    overflow: hidden;
}

body .gb-main-r {
    margin: -16px 0 0 207px;
}

.gb-sidenav .active {
    background: #2c8ba3;
    color: #FFFFFF;
}

body .table td {
    background: #eeeeee;
    padding: 10px;
    border: 1px solid #fff;
    color: #666666;
}

body .table th {
    color: #FFFFFF;
}

.xieyi_btn {
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

.xieyi_btn > a {
    display: inline-block;
}

.accordion .r_icon {
    float: right;
    display: inline-block;
}

.accordion .icon-add {
    background: url(../images/agent/jia.jpg) no-repeat;
    width: 20px;
    height: 19px;
    margin-top: 15px;
    margin-right: 20px;
}

.accordion .icon-jian {
    background: url(../images/agent/jian.jpg) no-repeat;
    width: 20px;
    height: 19px;
    margin-top: 15px;
    margin-right: 20px;
}

.accordion ul li {
    background: #EEEEEE;
    width: 100%;
    line-height: 50px;
    border-bottom: 2px solid #cccccc;
    cursor: pointer;
    margin-bottom: 15px !important;
}

.accordion .active {
    background: #2c8ba3;
}

.accordion .l_icon {
    display: inline-block;
    float: left;
}

.accordion .nbo-add {
    background: url(../images/agent/nbo.jpg) no-repeat;
    width: 32px;
    height: 28px;
    margin-top: 10px;
    line-height: 32px;
    text-align: center;
    color: #666666;
    font-weight: bold;
    margin-left: 20px;
}

.accordion .nbo-jian {
    background: url(../images/agent/jh_nbo.jpg) no-repeat;
    width: 32px;
    height: 28px;
    margin-top: 10px;
    line-height: 32px;
    text-align: center;
    color: #666666;
    font-weight: bold;
    margin-left: 20px;
}

.accordion .li_div {
    display: none;
}

.accordion ul li span {
    display: inline-block;
    text-indent: 15px;
}

.accordion ul .active span {
    color: #FFFFFF;
}

.accordion ul .active {
    border-bottom: 2px solid #dfa85a;
}

.accordion .li_div {
    background: #EEEEEE;
    color: #9b9b9b;
    padding: 20px;
}

.m_content ul li {
    width: 25%;
    text-align: center;
    float: left;
}

.m_content ul li span {
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    width: 100%;
}

.m-content .text-center {
    margin-top: 30px;
    float: left;
    margin-bottom: 30px;
    position: relative;
}

.m-content .text-center .reg {
    position: absolute;
    width: 190px;
    height: 50px;
    display: inline-block;
    bottom: 33px;
    left: 155px;
}

.m-content div, .m-content p, .m-content ul, .m-content ul > li, .m-content ol, .m-content ol > li {
    margin: 0px;
}

.c-huangse {
    color: #DFA85A;
}

.daili_btn {
    width: 180px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    background: #dfa85a;
    border-radius: 12px;
}

body .btn:hover {
    color: #FFFFFF;
}