@charset "utf-8";
*{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
*:before,
*:after{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
/** 清除内外边距 **/
*{ margin: 0; padding: 0;}
a{ text-decoration: none;}
img{ border: none;}

/* structural elements 结构元素 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
/* list elements 列表元素 */
dl, dt, dd, ul, ol, li,
/* text formatting elements 文本格式元素 */
pre,
/* form elements 表单元素 */
form, fieldset, legend, button, input, textarea,
/* table elements 表格元素 */
th, td { margin: 0; padding: 0;}

/** 设置默认字体 **/
body, pre, button, input, select, textarea /* for ie */
{ font: 14px/1.6 tahoma, arial, 'Microsoft YaHei', sans-serif;}

/** 重置文档高度 **/
html, body{ height: 100%;}
body{ color: #c1c1c1;}

h1, h2, h3, h4, h5, h6{ font-size: 100%; font-weight: normal;}
/* 将斜体扶正 */
address, cite, dfn, em, var{ font-style: normal;}
/* 统一等宽字体 */
code, kbd, pre, samp{ font-family: courier new, courier, monospace;}
/* 小于 12px 的中文很难阅读，让 small 正常化 */
small{ font-size: 12px;}


/** 重置列表元素 **/
ul, ol{ list-style: none;}
/** 重置文本格式元素 **/
a{ text-align: center; text-decoration: none; color: inherit;}
a:focus{ outline: none;}


/** 重置表单元素 **/
legend{ color: #000;} /* for ie6 */
fieldset, img{ border: 0; vertical-align: middle}
/* 使得表单元素在 ie 下能继承字体大小 */
button, input, select, textarea{ font-size: 100%;}
/*表单元素字体*/
input, textarea, button{ font: 14px/1.6 Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', 微软雅黑, Arial, sans-serif; outline: 0;}

input[type='button'], input[type='submit'], button{ cursor: pointer;}
button:focus{ outline: none;}

input[type='button'], input[type='submit'], input[type='reset'], button{ /*input[type="file"]::-webkit-file-upload-button,*/
    border: 1px solid transparent;}

/*设置表单元素不可用的样式*/
input[readonly],
input:disabled,
button:disabled,
button[readonly],
textarea:disabled{ color: #545454!important; background-color: #ccc!important;}
input[readonly]:hover,
input:disabled:hover,
button:disabled:hover,
button[readonly]:hover,
textarea:disabled:hover{ cursor: not-allowed;}

/** placeholder 重置 **/
[placeholder]{ font-family: 'Microsoft yahei';}
::-moz-placeholder{ text-indent: 5px; /* 没有用 */ opacity: 1!important; color: #bbb;}
:-ms-input-placeholder{ text-indent: 5px; color: #bbb;}
::-webkit-input-placeholder{ text-indent: 5px; color: #bbb;}

/** 重置表格元素 **/
table{ border-spacing: 0; border-collapse: collapse;}

/* #滚动条
=========*/
::-webkit-scrollbar{ width: 8px; height: 8px;}

::-webkit-scrollbar-track-piece{ margin: -2px; background-color: #eee;}

::-webkit-scrollbar-thumb{ min-width: 150px; min-height: 150px; border-radius: 10px; background: #aaa;}

::-webkit-scrollbar-thumb:vertical:hover{ background: #555;}

::-webkit-scrollbar-thumb:horizontal:hover{ background: #555;}


body{
	background:url(../images/hs_beijing.jpg) repeat;
}
.index_bj{   
    background: url(https://www.qnapplehu.com/longdu/buyu_bannaer.jpg) no-repeat center 0px;
    /* min-width: 1920px; */
    height: 963px;
    background-position: center;
    position: relative;
    z-index: 2; 
}

.h_820{
    width: 100%;
    height: 743px;
}
.w_1200{
	width: 1200px;
	margin: 0 auto;
}
.Fishing_game li{
	width: 385px;
	height: 425px;
	background:url(../images/live/game_bj.png) no-repeat;
	background-size: 100%;
	float: left;
	margin-left: 15px;
	position: relative;
	transition: 1s;
	overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;	
	
}
.Fishing_game li >span{
	display: inline-block;
	width: 100%;
	text-align: center;
}
.Fishing_game li span>img{
	margin-top: 7px;
}
.Fishing_game li .w_192{
	width: 192.5px;
	float: left;
	height: 155px;
	text-align: center;
}
.Fishing_game li .w_192 p label{
	font-size: 50px;
	color: #dfa85a;
	font-weight: bold;
}
.Fishing_game li .w_192 p{
	font-size: 36px;
	color: #ffffff ;
	padding-top: 8px;
}
.Fishing_game li .p_30{
	padding-top: 30px;
}
.gamebox{
	width: 100%;
	height: 300px;
	background: #dfa85a;
	
}

.Fishing_game li:hover .fisshing_zeiz{
	display: block;
}

/*.Fishing_game li span img{
    transition: 1s;	
}
.Fishing_game li:hover .scale img{
	   transform:scale(1.1)
}*/

.fisshing_zeiz{
    position: absolute;
    top: 0px;
    bottom: 0px;
    background: rgba(0,0,0,.5);
    display: none;
    left: 0px;
    width: 385px;
    height: 404px;
    z-index: 9;
    /* background: #000; */
    border-radius: 16px;
}
.fisshing_zeiz a{
    display: inline-block;
    width: 120px;
    height: 40px;
    text-align: center;
    background: #2c3469;
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 15px;
    line-height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -60px;
    margin-top: -20px;	
}
.h_45{
    height: 425px;
    overflow: hidden;	
    position: relative;
} 
 .left_btn_by{
    background: url(../images/live/left.png) no-repeat;
    width: 58px;
    height: 101px;
    position: absolute;
    left: -90px;
    top: 150px;
    cursor: pointer;
}
 .right_btn_by{
    background: url(../images/live/right.png) no-repeat;
    width: 58px;
    height: 101px;
    position: absolute;
    right: -130px;
    top: 150px;
    cursor: pointer;
}

.qiehuan_btn ul li:nth-of-type(1){
    background: url(../images/live/left.png) no-repeat;
    width: 58px;
    height: 101px;
    position: absolute;
    left: -90px;
    top: 150px;
    cursor: pointer;	
}

.qiehuan_btn ul li:nth-of-type(2){
    background: url(../images/live/right.png) no-repeat;
    width: 58px;
    height: 101px;
    position: absolute;
    right: -130px;
    top: 150px;
    cursor: pointer;
}
.qiehuan_btn{
    position: absolute;
    bottom: -600px;	
}
.w_center{
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
.btn_div .left_btn{
    display: inline-block;
    position: absolute;
    cursor: pointer;
    left: -92px;
    top: 159px;	
}

.btn_div .rigth_btn{
    position: absolute;
    right: -104px;
    top: 159px;
    display: inline-block;
    cursor: pointer;
	
} 

.w_192 .pc_btn{
	background: url(../images/live/pc_btn.png) no-repeat;
	width: 130px;
	height: 40px;
	display: inline-block;
    margin-bottom: 10px;	
}
.w_192 .wb_btn{
	background: url(../images/live/wb_btn.png) no-repeat;
	width: 130px;
	height: 40px;
	display: inline-block;
}

.w_192 .pc_btn:hover{
	background: url(../images/live/pc_btn_jh.png) no-repeat;	
}
.w_192 .wb_btn:hover{
	background: url(../images/live/wb_btn_jh.png) no-repeat;
}
.Fishing_code{
	position: absolute;
    top: 11px;
    left: 50%;
    margin-left: -84px;
    width: 160px;
    display: none;
    padding-top: 30px;
    /* background: #fff; */
}
.Fishing_code img{
    width: 160px;	
}
.Fishing_code span{
	display: inline-block;
	width: 100%;
	text-align: center;\n
}

