@charset "UTF-8";
body > .main-wrap > .content table { width: 100%; border-collapse: collapse; border-spacing: 0; text-align: center; line-height: 1.5em; }
body > .main-wrap > .content > ul > li { margin-bottom: 3px; background-color: #fff; box-shadow: 0px 1px 3px #777; -ms-box-shadow: 0px 1px 3px #777; /* IE 9 */
  -moz-box-shadow: 0px 1px 3px #777; /* Firefox */
  -webkit-box-shadow: 0px 1px 3px #777; /* Safari åš™ç Chrome */
  -o-box-shadow: 0px 1px 3px #777; }
body > .main-wrap > .content > ul > li.active .title { background-color: #fb9b08; color: #3f3b35; }
body > .main-wrap > .content > ul > li.active .page { display: inline-block; width: 100%; }
body > .main-wrap > .content > ul > li .title { display: inline-block; width: 100%; font-size: 1.5em; line-height: 2em; text-indent: .5em; text-align: left; letter-spacing: 3px; background-color: #3f3b35; color: #fff; }
body > .main-wrap > .content > ul > li .page { display: none; }
body > .main-wrap > .content > ul > li .page .content { display: inline-block; width: 100%; padding: .5em; line-height: 100%; }
