.red {
    color: red !important;
}

.mt10{
    margin-top: 10px !important;
}
.mt20 {
    margin-top: 20px !important;
}

.mb25 {
    margin-bottom: 25px !important;
}

.font2 {
    font-size: 1rem;
}

.font3 {
    font-size: 2rem;
}

.font4 {
    font-size: 2rem;
}

.space-5 {
    height: 50px;
}

.relative {
    position: relative;
}

.mui-select label {
    display: inline-block;
    color: #98948c;
    margin-right: 8px;
    font-size: 1em;
    line-height: 4em;
    vertical-align: middle;
}

.mui-select select {
    height: 3em;
    line-height: 3em;
    border: none;
    background: #372b24 url(../images/down.png) no-repeat 100% 50%;
    background-size: 15px 9px;
    width: 70%;
    display: block;
    margin-top: .5em;
    float: right;
}

.mui-col-xs32-10 {
    width: 100%;
}

.mui-col-xs32-10, .mui-col-xs48-10, .mui-col-xs64-10 {
    padding: 0px;
}

.mui-col-xs32-offset-1 {
    margin: 0px;
}

.mui-select {
    background: #372b24;
    padding: 0 1.4rem;
}

.mui-select__menu {
    min-width: 65%;
    right: 1px;
}

.mui-textfield > label {
    position: relative;
    display: inline-block;
    color: #98948c;
    margin-right: 8px;
    font-size: 1em;
    line-height: 4em;
    vertical-align: middle;
}

.testfueld {
    width: 100%;
    padding-left: 1.4rem;
    background: #372b24;
    float: left;
    margin-bottom: 20px;
}

.testfueld label {
    display: inline-block;
    color: #98948c;
    margin-right: 8px;
    font-size: 1em;
    line-height: 4em;
    vertical-align: middle;
    float: left;
}

.testfueld input {
    border: 0;
    outline: none;
    display: block;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-appearance: none;
    line-height: 2rem;
    font-size: 16px;
    font-size: 1rem;
    height: 4rem;
    padding-top: 1.4rem;
    padding-bottom: 1.3rem;
    background: #372b24;
    color: #fff;
    float: right;
}

.money_prompt {
    display: inline-block;
    width: 100%;
    padding: 0 1.4rem;
}

.testfueld input {
    width: 65%;
}

.mui-select select {
    width: 69%;
}

.mui-col-xs32-11 {
    width: 100%;
}

.mui-btn--primary {
    width: 40%;
    margin: 0 auto;
}

.money_prompt {
    color: red;
}

.sanfang {
    background: #372b24;
    margin-bottom: 20px;
    height: 4.4rem;
    padding-left: 18px;
}

.sanfang label {
    float: left;
    width: 74px;
    display: inline-block;
    line-height: 4rem;
    height: 100%;
}

.sanfang input {
    border: 0;
    outline: none;
    /* display: block; */
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-appearance: none;
    line-height: 2rem;
    font-size: 16px;
    font-size: 1rem;
    height: 4rem;
    padding-top: 1.4rem;
    padding-bottom: 1.3rem;
    background: #372b24;
    color: #fff;
    width: 68%;
    color: #9E9E9E;
}

.mui-col-xs32-10 .h3 {
    padding: 0 1rem;
}

.mui-col-xs32-10 p {
    padding: 0 1rem;
}

.tab-content .h3 {
    padding: 0 1rem;
}

.tab-content p {
    padding: 0 1rem;
}

.red {
    color: red;
}

.mui-btn {
    -webkit-animation-duration: .1ms;
    animation-duration: .1ms;
    -webkit-animation-name: mui-node-inserted;
    animation-name: mui-node-inserted;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .87);
    background-color: #FFF;
    transition: all .2s ease-in-out;
    display: inline-block;
    height: 36px;
    padding: 0 26px;
    margin: 1rem 0;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background-image: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    letter-spacing: .03em;
    position: relative;
    overflow: hidden;
}

.btn-copy {
    text-transform: none;
    font-size: 100%;
    height: 3rem;
    line-height: 3rem;
    position: absolute;
    right: 6px;
    top: 11px;
    color: #FFF;
    background-color: #ed6325;
    padding: 0 1.4rem;
}

.testfueld {
    position: relative;
}

#fyantip {
    top: 72px;
}

.red_content {
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 150%;
    color: red;
}

.mui-btn {
    background: #ed6325;
    color: #fff;
    margin: 0 auto;
    height: 3rem;
    line-height: 3rem;
}

.mui_fukuang {
    width: 80%;
    line-height: 4.4rem;
    height: 4.4rem;
    margin-bottom: 30px;
}

.mui-select:after {
    content: "";
}

/*#quick-confirm-type{
	color:#9E9E9E !important;
	    opacity: 1;
}
#quick-confirm-username{
		color:#9E9E9E !important;
		    opacity: 1;
}
#quick-confirm-money{
		color:#9E9E9E !important;
		    opacity: 1;
}*/
.testfueld > input, .testfueld > textarea {
    color: #DDDDDD !important;
    opacity: 1 !important;
}

.mui-select select {
    transition: all .2s ease-in-out;
}

#wechat-desc-page {
    text-align: center;
    line-height: 40px;
    margin: 15px 0;
}

#wechat-desc-page img {
    width: 100%;
}

#wechat-desc-page p {
    font-size: 1.2em;
    color: #787876;
}

#wechat-desc-page .btn-copy {
    left: 6px;
    right: unset;
}

#must-checked, #must-checked1, #j-cloudpay-checked, #j-cloudpay-checked1 {
    width: 25px;
    height: 25px;
    margin: 15px 10px;
    position: relative;
    top: 6px;
}

.text-center {
    text-align: center;
}

.deposit-fast-page label {
    font-size: 18px;
}

.mui-select label, .mui-select select, .testfueld label {
    color: #9E9E9E;
}


#deposit-card, #deposit-zfbQR2, #deposit-speedPay {

}

.testfueld > input, .testfueld > textarea {
    color: #9E9E9E;
}

.deposit-content li.stop .page {
    display: none !important;
}