@charset "UTF-8";
html, body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, button,
textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 1em;
  font-family: 'Microsoft Yahei', sans-serif;
  background: #fff;
}

body .content {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #2b2b2b;
}
body .content .header-margin {
  display: inline-block;
  width: 100%;
  height: 2.5em;
}
body .content div {
  padding: 0px;
  box-sizing: content-box;
}
body .content .av-card {
  display: inline-block;
  width: 100%;
}
body .content .av-card:nth-child(even) .image {
  float: right;
}
body .content .av-card:nth-child(even) .text {
  float: left;
}
body .content .av-card .image {
  float: left;
  width: 40%;
  overflow: hidden;
}
body .content .av-card .image img {
  width: 100%;
  border-radius: 50%;
}
body .content .av-card .text {
  float: right;
  width: 60%;
  text-indent: 1em;
  color: #fff;
}
body .content .av-card .text .name {
  font-weight: 700;
  font-size: 1.5em;
  letter-spacing: 3px;
  text-align: center;
  color: #f99a29;
}
body .content .no-video {
  display: inline-block;
  width: 100%;
}
body .content .no-video img {
  opacity: 0;
}
body .content .no-video img.show {
  opacity: 1;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
body .content .no-video .text-box {
  position: absolute;
  top: 4em;
  left: 1em;
}
body .content .no-video .text-box .text1 {
  display: inline-block;
  padding: 0 10px 0 10px;
  font-size: 1em;
  text-align: left;
  background-color: rgba(189, 24, 54, 0.6);
  color: #fff;
}
body .content .no-video .text-box .text2 {
  display: inline-block;
  padding: 0 10px 0 10px;
  font-size: 2em;
  text-align: left;
  background-color: rgba(189, 24, 54, 0.6);
  color: #fff;
}
body .content .video {
  position: relative;
  z-index: 2;
  display: inline-block;
  width: 100%;
  height: 0px;
  border-bottom: 1px solid #000;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
body .content .video.show {
  opacity: 1;
}
body .content .chat-box {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 100%;
  height: 0px;
  margin-top: -50px;
  border-bottom: 1px solid #000;
  background-color: #fff;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
body .content .chat-box.show {
  opacity: 1;
}
body .live-show {
  letter-spacing: 1px;
}
body .live-show.show .live-show-screen {
  display: block;
}
body .live-show.show .live-show-block {
  transform: translateY(0px);
  -ms-transform: translateY(0px);
  /* IE 9 */
  -moz-transform: translateY(0px);
  /* Firefox */
  -webkit-transform: translateY(0px);
  /* Safari 嚙瞎 Chrome */
  -o-transform: translateY(0px);
}
body .live-show .live-show-screen {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
body .live-show .live-show-block {
  position: fixed;
  z-index: 9999;
  bottom: 0;
  width: 100%;
  max-height: 70%;
  padding: 10px;
  overflow-y: auto;
  background-color: #1d1d1d;
  transform: translateY(100%);
  -ms-transform: translateY(100%);
  /* IE 9 */
  -moz-transform: translateY(100%);
  /* Firefox */
  -webkit-transform: translateY(100%);
  /* Safari 嚙瞎 Chrome */
  -o-transform: translateY(100%);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
body .live-show .live-show-block > div {
  margin-bottom: 10px;
}
body .live-show .live-show-block > div:last-child {
  margin-bottom: 0;
}
body .live-show .live-show-block .live-show-header {
  display: inline-block;
  width: 100%;
  font-size: 1.5em;
  color: #ffb535;
}
body .live-show .live-show-block .live-show-footer {
  display: inline-block;
  width: 100%;
}
body .live-show .live-show-block .live-show-content {
  display: inline-block;
  width: 100%;
  color: #fff;
}
body .live-show .live-show-block .live-show-content .live-show-qrcode canvas {
  width: 100%;
}
body .live-show .live-show-block .live-show-content .item .image {
  display: block;
  margin: 0 auto 0 auto;
  width: 64px;
}
body .live-show .live-show-block .live-show-content .item .text {
  font-size: 80%;
  text-align: center;
}
body .live-show-hidden {
  overflow: hidden !important;
}
