@font-face {font-family: "iconfont";
    src: url('../font/iconfont.eot?t=1468832260'); /* IE9*/
    src: url('../font/iconfont.eot?t=1468832260#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff?t=1468832260') format('woff'), /* chrome, firefox */
    url('../font/iconfont.ttf?t=1468832260') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg?t=1468832260#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    display: inline-block;
    margin-right: 3px;
}

.icon-write:before { content: "\e61d"; }
.icon-search:before { content: "\e627"; }
.icon-arrows-up:before { content: "\e622"; }
.icon-qq:before { content: "\e60f"; }
.icon-fight:before { content: "\e62d"; }
.icon-users:before { content: "\e600"; }
.icon-refresh:before { content: "\e608"; }
.icon-chrome:before { content: "\e609"; }
.icon-scan:before { content: "\e628"; }
.icon-pc:before { content: "\e632"; }
.icon-football:before { content: "\e62e"; }
.icon-firefox:before { content: "\e60a"; }
.icon-ie:before { content: "\e60b"; }
.icon-safari:before { content: "\e60c"; }
.icon-email:before { content: "\e610"; }
.icon-bbs:before { content: "\e601"; }
.icon-apple:before { content: "\e611"; }
.icon-coin:before { content: "\e615"; }
.icon-rrs:before { content: "\e602"; }
.icon-wechat:before { content: "\e612"; }
.icon-flash:before { content: "\e60d"; }
.icon-global:before { content: "\e633"; }
.icon-icon:before { content: "\e61b"; }
.icon-start:before { content: "\e60e"; }
.icon-setting:before { content: "\e616"; }
.icon-tel:before { content: "\e603"; }
.icon-vip:before { content: "\e61e"; }
.icon-key:before { content: "\e634"; }
.icon-host:before { content: "\e617"; }
.icon-qr:before { content: "\e629"; }
.icon-sound:before { content: "\e621"; }
.icon-edit:before { content: "\e62a"; }
.icon-sms:before { content: "\e61f"; }
.icon-phone:before { content: "\e604"; }
.icon-heart:before { content: "\e605"; }
.icon-pay:before { content: "\e62b"; }
.icon-cs:before { content: "\e613"; }
.icon-heart2:before { content: "\e606"; }
.icon-card:before { content: "\e62c"; }
.icon-email2:before { content: "\e618"; }
.icon-android:before { content: "\e614"; }
.icon-index:before { content: "\e636"; }
.icon-list:before { content: "\e619"; }
.icon-game:before { content: "\e607"; }
.icon-send-email:before { content: "\e620"; }
.icon-wallet:before { content: "\e61a"; }
.icon-discuss:before { content: "\e635"; }
.icon-download:before { content: "\e61c"; }
.icon-arrows-down:before { content: "\e623"; }
.icon-chip:before { content: "\e624"; }
.icon-help:before { content: "\e625"; }
.icon-barrels:before { content: "\e626"; }
.icon-girl:before { content: "\e62f"; }
.icon-girl-2:before { content: "\e630"; }
.icon-two-heart:before { content: "\e631"; }
.icon-moon:before { content: "\e637"; }
.icon-hot:before { content: "\e638"; }
.icon-diamond:before { content: "\e63a"; }
.icon-rmb:before { content: "\e6da"; }



.sp-level{
    background-image: url('../../images/level.png');
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}
.sp-level-0{
    background-position: -698px -1px;
    width: 93px;
    height: 85px;
}
.sp-level-1{
    background-position: -582px -1px;
    width: 95px;
    height: 86px;
}
.sp-level-2{
    background-position: -470px -1px;
    width: 90px;
    height: 86px;
}
.sp-level-3{
    background-position: -350px -1px;
    width: 101px;
    height: 87px;
}
.sp-level-4{
    background-position: -243px -1px;
    width: 84px;
    height: 88px;
}
.sp-level-5{
    background-position: -115px -1px;
    width: 111px;
    height: 87px;
}
.sp-level-6{
    background-position: 0 0;
    width: 111px;
    height: 89px;
}
