<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<bean id="databaseNow" class="dfh.utils.DatabaseNow">
	  <property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean class="dfh.utils.DateUtil">
	  <property name="databaseNow" ref="databaseNow" />
	</bean>
	
	<bean id="defaultTokenValidatorImpl" class="dfh.utils.validator.DefaultTokenValidatorImpl"/>
    <bean id="eBetAppTokenValidatorImpl" class="dfh.utils.validator.EBetAppTokenValidatorImpl"/>
    <bean id="nTwoAppTokenValidatorImpl" class="dfh.utils.validator.NTwoAppTokenValidatorImpl"/>

    <bean id="tokenValidatorFactory" class="dfh.utils.validator.TokenValidatorFactory">
        <property name="defaultValidator" ref="defaultTokenValidatorImpl"/>
        <property name="eBetAppValidator" ref="eBetAppTokenValidatorImpl"/>
        <property name="nTwoAppValidator" ref="nTwoAppTokenValidatorImpl"/>
    </bean>
     
	<bean class="dfh.utils.SpringFactoryHepler"></bean>
	
	<bean id="emailSender" class="dfh.utils.SSLMailSender">
		<property name="smtp_host_name">
			<value>${notify.sms.email.host.name}</value>
		</property>
		<property name="smtp_host_port">
			<value>${notify.sms.email.port}</value>
		</property>
		<property name="smtp_auth_user">
			<value>${notify.sms.email.user}</value>
		</property>
		<property name="smtp_auth_pwd">
			<value>${notify.sms.email.password}</value>
		</property>
		<property name="smtp_transport_protocol">
			<value>${notify.sms.email.transport.protocol}</value>
		</property>
		<property name="fromEmail">
			<value>${notify.sms.email.fromEmail}</value>
		</property>
	</bean>
</beans>