<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<!-- init some static class params -->
	<bean class="dfh.remote.RemoteConstant">
		<property name="HTTPS_HOST">
			<value>${dfh.remote.RemoteConstant.HTTPS_HOST}</value>
		</property>
		<property name="isLiveEnv">
			<value>${dfh.remote.RemoteConstant.isLiveEnv}</value>
		</property>
	</bean>

	<bean class="dfh.utils.Constants">
		<property name="DEFAULT_CREDIT">
			<value>${dfh.utils.Constants.DEFAULT_CREDIT}</value>
		</property>
		<property name="SYN_BETRECORDS_DELAY">
			<value>${dfh.utils.Constants.SYN_BETRECORDS_DELAY}</value>
		</property>
	</bean>
</beans>