@import "base/common";

.mui-divider {
    display: inline-block;
    width: 100%;
    
    background: #aaa;
}

#mui-overlay {
	z-index:2;
	
	background-color: rgba(0,0,0,.5);
	
	.mui-overlay-model{
	    position: absolute;
		top:50%;
		
		padding:0;
		
		@include transform( translate(0,-50%));
		
		&.top{
			top:4em;
    		padding-bottom: 4em;
			
			@include transform(none);
		}
		
		.mui-overlay-title{
			position: relative;
			
			padding: .5em;
			
		    font-weight:500;
		    letter-spacing: 3px;
		    
			background-color: $primary;
			
		    color: $primary2;
		    
		    .mui-overlay-title-text{
		    	margin-right:1em;
		    }
		
			.mui-overlay-close{
				position: absolute;
			    top: 0;
			    right: 0;
			    padding: .5em;
			    cursor: pointer;
			}
			
		}
			
		.mui-overlay-message{
			margin-bottom: .5em;
		}
	}
}

.mui-panel{
	margin-bottom: 0;
	
	.mui-error-message{
		color: #F44336;
	}
}


.mui-tabs__bar{
	text-align: center;
}

.mui-tabs__bar{
	
	>li{
		position: relative;
		
		>a{
		    color: rgb(154, 151, 150);
		}
		
		&:after {
		    position: absolute;
		    left: 0;
		    right: 0;
		    bottom: 1px;
		    
		    display: block;
		    width:100%;
		    height: 3px;
		    
		    background: #39140B;
		    opacity: 0;
		    
		    content: '';
		    
		    @include transform(scaleX(.2));
		    
		    @include transition;
		}
		
		&.mui--is-active {
			border-bottom: 0;
			
   	 		&:after {
		    	opacity: 1;
		    	@include transform(scaleX(1));
			}
		    
		    >a{
    			color: #39140B;
		    }
		}
	}
}


.mui-btn--primary {
  color: $primary;
  background-color: $primary2;
}

.mui-btn--primary:hover,
.mui-btn--primary:focus,
.mui-btn--primary:active {
  color: $primary;
  background-color: $primary2;
}

.mui-btn--primary[disabled]:hover,
.mui-btn--primary[disabled]:focus,
.mui-btn--primary[disabled]:active {
  color: $primary;
  background-color: $primary2;
}

.mui-btn--primary.mui-btn--flat {
  color: $primary2;
  background-color: transparent;
}

.mui-btn--primary.mui-btn--flat:hover,
.mui-btn--primary.mui-btn--flat:focus,
.mui-btn--primary.mui-btn--flat:active {
  color: $primary2;
  background-color: #f2f2f2;
}

.mui-btn--primary.mui-btn--flat[disabled]:hover,
.mui-btn--primary.mui-btn--flat[disabled]:focus,
.mui-btn--primary.mui-btn--flat[disabled]:active {
  color: $primary2;
  background-color: transparent;
}


.mui-buttons{
    display: inline-block;
	width:100%;
	margin-bottom: .5em;
	
	text-align: center;
	
	&.right{
		text-align: right;
	}
	
	&.left{
		text-align: left;
	}
}

.mui-btn{
	text-transform: none;
	font-size:100%;
	
	&.block{
		display:block;
	}
	
	&.left{
		float:left;
	}
	
	&.right{
		float:right;
		&+.mui-btn.right {
    		margin-right: 8px;
		}
	}
	
	&.small{
		padding: 0 6px;
	}
}

.mui-checkbox{
	font-size:80%;
}

.mui-textfield{
    margin-bottom: 10px;
    
    label{
    	color: $primary;
    }
    
    input{
		border-bottom: 1px solid $primary;
    }
    
    textarea{
		border-bottom: 1px solid $primary;
    }
    
    .mui-btn{
		position: absolute;
	    top: 0;
	    right: 0;
    }
    
	.message{
		font-size:80%;
	}
	
	&.date-select{
		>.date-icon{
		    position: absolute;
		    padding: 20px 10px 10px 10px;
		    right: 0;
		    top: 0;
		}
	}
}

.mui-textfield--float-label{
	
	label{
    	color:#888888;
    }
}

.mui-textfield--float-label > input:focus ~ label,
.mui-textfield--float-label > textarea:focus ~ label {
	font-size: 80%;
  	line-height: 150%;
  	
    color: $primary;
}

.mui-textfield--float-label > input:required ~ label{
	
	&:before{
		content: "*";
	    color: #f00;
	    margin-right: .5em;
	}
}

.mui-textfield--float-label{
	
	&.error{
		input{
			border-color: #F44336;
    		border-width: 2px;
		}
	
		.message{
			color:#F44336;
		}
	}
	
	>img{
		position: absolute;
	    height: 2.5em;
	    top: 0;
	    right: 0;
	}
	
	.message{
		font-size:80%;
	}
}


.mui-textfield--float-label > input:not(:focus).mui--is-not-empty ~ label,
.mui-textfield--float-label > input:not(:focus)[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty) ~ label,
.mui-textfield--float-label > input:not(:focus):not(:empty):not(.mui--is-empty):not(.mui--is-not-empty) ~ label,
.mui-textfield--float-label > textarea:not(:focus).mui--is-not-empty ~ label,
.mui-textfield--float-label > textarea:not(:focus)[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty) ~ label,
.mui-textfield--float-label > textarea:not(:focus):not(:empty):not(.mui--is-empty):not(.mui--is-not-empty) ~ label {
  	color: $primary;
  	font-size: 80%;
  	line-height: 150%;
}

.mui-textfield>input:disabled, .mui-textfield>input:read-only, .mui-textfield>textarea:disabled, .mui-textfield>textarea:read-only {
	color:#9c9c9c;
	border-bottom: 1px solid #C3C3C3;
	
	~label{
		color:#9c9c9c;
	}
}

.mui-select{    
	
  	font-size: 100%;
  	
  	color:$primary;
	
	select{
		border-bottom: 1px solid $primary;
		
		background: transparent;
	}
	
	&:after{
		position: absolute;
		top: 1.2em;
		right: 10px;
		
	  	display: block;
		
		font-family: Flaticon;
		font-style: normal;
		
		pointer-events: none;
		
	  	content: "\e002";
	  	
	}
	
	label{
	  	position: absolute;
	  	top: 0;
	  	display: block;
	  	width: 100%;
	  	color:rgba(0,0,0,.54);
	  	font-size: 80%;
	  	font-weight: 400;
	  	line-height: 150%;
	  	overflow: hidden;
	  	text-overflow: ellipsis;
	  	white-space: nowrap;
	}
	
	.message{
		font-size:80%;
	}
}
