@import "base/common";
$block-width:100%/7;

.mui-datepicker{
	
    position: absolute;
	top:50%;
	left:50%;
	display:inline-block;
    width: 300px;
	padding: 0;
	
    font-size: 14px;
    
	background-color: #fff;
	color: #848484;
	
	@include transform( translate(-50%,-50%));
/* 	@include transform( translate(0,-50%)); */
	@include box-shadow( 0 19px 60px rgba(0,0,0,.3),0 15px 20px rgba(0,0,0,.22));
	
	&.top{
		top:15px;
		
   	 	margin-bottom: 15px;
		
		@include transform(translate(-50%,0));
/* 		@include transform(none); */
	}
	
	.d-header{
	
		display:inline-block;
		width:100%;
    	padding: 5px;
		
		background-color: $primary;
		
	    .d-header-text-1{
	    	text-align:left;
	    	font-size: 110%;
	   	 	color: rgba(255, 255, 255, .8);
	    }
	    
	    .d-header-text-2{
    		width: 4em;
    		margin: 0 auto;
    		
	    	text-align:center;
	    	font-size: 200%;
    		
	    	color: #fff;
	    }
	}
	
	.d-content{
    	height: 320px;
	    
	    .d-buttons-wrap{
	    	position: absolute;
		    bottom: 0;
    		right: 5px;
    		
    		font-size: 16px;
	    }
	    
		.d-content-year-wrap{
			position:relative;
			
			display:none;
    		height: 100%;
    		overflow: hidden;
    		
			text-align: center;
    		font-size: 150%;
    		line-height: 250%;
			
			opacity:0;
			
			@include transition;
			
			&.active{
				display:block;
				opacity:1;
			}
			
			.d-content-year{
    			height: 100%;
    			overflow-y: auto;
			    
				div{
					&.active{
	    				background-color: #EDEDED;
	   			 		color: $primary;
					}
				}
			}
		}
		
		.d-content-month-wrap{
			position:relative;
			
			display:none;
    		height: 100%;
    		margin-bottom:50px;
    		overflow: scroll;
    		
			text-align: center;
    		font-size: 150%;
    		line-height: 250%;
			
			opacity:0;
			
			@include transition;
			
			&.active{
				display:block;
				opacity:1;
			}
			
			
			.d-content-month{
    			height: 100%;
    			overflow-y: auto;
			    
				div{
					&.active{
	    				background-color: #EDEDED;
	   			 		color: $primary;
					}
				}
			}
		}
		
		.d-content-day-wrap{
			display:none;
    		margin: 10px;
    		
    		font-size: 80%;
    		
			opacity:0;
    
			
			@include transition;
			
			&.active{
				display:block;
				opacity:1;
			}
		
			.d-content-yesrmonth{
				position: relative;
    			padding-top: 10px;
    			padding-bottom: 10px;
    			
    			.d-content-yesrmonth-next{
    			    position: absolute;
				    top: 0;
				    right: 0;
				    
    				width: 40%;
    				padding-top: 10px;
    				padding-bottom: 10px;
    				
				    text-align: right;
    				font-size: 130%;
    				
    				cursor: pointer;
    				
    				&:before{
    					cursor: pointer;
    				}
    			}
    			
    			.d-content-yesrmonth-last{
    			    position: absolute;
				    top: 0;
				    left: 0;
				    
    				width: 40%;
    				padding-top: 10px;
    				padding-bottom: 10px;
    				
				    text-align: right;
    				font-size: 130%;
    
    				cursor: pointer;
    				
    				&:before{
    					cursor: pointer;
    				}
    				
			   	 	@include transform(rotate(180deg));
    			}
    			
    			
    			.d-content-yesrmonth-text{
    				font-weight: 700;
    				text-align: center;
    				font-size: 120%;
    			}
			}
			.d-content-week{
			    display: inline-block;
    			width: 100%;
			}
			.d-content-day{
			    display: inline-block;
    			width: 100%;
			}
			.d-content-date-block{
				display: inline-block;
				width:$block-width;
				vertical-align: top;
				
				span{
					display: block;
					width:3em;
					height:3em;
    				margin:0 auto;
				    
					text-align:center;
    				line-height:3em;
				}
				
				&.active{
					span{
					    border-radius: 50%;
					    background-color: $primary2;
				    	color: #fff;
				    	
				    	@include box-shadow(0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2));
					}
				}
			}
		}
	}
}