@import "base/common";

body{
	.common-header{
		@include box-shadow(none);
	}
	
	>.main-wrap{
	
		.header-margin{
			height:6em;
		}
		
		>.content{
			
			.account-info{
				float:left;
				width:100%;
				
				background-color: #fff;
				position: relative;
				
				.user-photo{
				    margin: 5px;
				    
					float: left;
					
					font-size: 500%;
					
	   				color: #9E9E9E;
				}
				
				.info{
					display: inline-block;
					margin-top: 2em;
					color:#9E9E9E;
				}
				
				.refre {
				  	position: absolute;
				  	right: 10px;
	   				top: 10px;
	   				
				  	display: inline-block;
				  	
				  	font-size: 200%;
				  	
				  	color:#9E9E9E;
				  	
				  	cursor: pointer;
				  	
					&.credit-query{
						@include animation(refresh 0.8s linear 0s infinite);
					}
				}
			}
			
			.page-block{
				>div{
					display:none;
					
					&.active{
						display:inline-block;
						width:100%;
					}
					
					ol{
						li{
							margin-left: 20px;
						}
					}
				}
			}
			
			
			.tab-block{
				position: fixed;
				top:2.5em;
				left:0;
				z-index:2;
				
				width:100%;
				overflow-x: auto;
				
				white-space: nowrap;
				
				background-color: $primary3;
				
	    		@include box-shadow(0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24));
				@include transition(top .3s ease-in-out);
				
				.tab-button{
					position: relative;
					
					display:inline-block;
/* 					float:left; */    
					width: 4.5em;
    				min-width: 33.33%;
					
					text-align: center;
					color: $primary4;
					
					.text {
						width: 100%;
						margin-bottom:.5em;
						
						font-size: 50%;
						text-align: center;
					}
					
				  	.icon {
				  		font-size: 150%;
					}
					
							
					&.active{
			   	 		color: $primary2;
			   	 		
			   	 		&:after {
					    	opacity: 1;
						    @include transform(scaleX(1));
						}
					}
					
					&:after {
					    position: absolute;
					    left: 0;
					    right: 0;
					    bottom: 0;
					    
					    display: block;
					    height: 3px;
					    
					    background: $primary2;
					    opacity: 0;
					    
					    content: '';
					    
					    @include transform(scaleX(.2));
					    
					    @include transition;
					}
				}
			}
		}
	}
}



.form{
    position: relative;
    
	display: table;
/*     width: 90%; */
/*     margin: 0 auto; */
	width:100%;
    
	border-collapse:separate;
	border-spacing: 5px;
    
	.row{
		width:100%;
		display: table-row;
		
		.label{
		  	display: table-cell;
		  	white-space: nowrap;
		  	text-align: right;
		  	text-indent:10px;
    		letter-spacing: 3px;
			font-size:100%;
			line-height:200%;
		}
		
		.text{
		    display: table-cell;
		  	position: relative;
			width:100%;
			
			input{
				width: 100%;
			    text-indent: 10px;
				font-size:100%;
				line-height:200%;
			}
			
			textarea{
				width: 100%;
				height: 100%;
				
			}
			
			.code{
			    text-indent: 10px;
			    width: 100%;
			}
			
			.image{
				position: absolute;
				top: 50%;
				right: 2px;
				width: 30%;
				height: 90%;
				font-size:100%;
				line-height:200%;
				
				@include transform(translate(0,-50%));
			}
		}
		
		.combobox{
		  	position: relative;
		    display: table-cell;
			width: 100%;
			
			&:AFTER{
				position: absolute;
				top: 50%;
				right: 10px;
				
			  	display: block;
				
				font-family: Flaticon;
				font-style: normal;
				
				pointer-events: none;
				
			  	content: "\e002";
			  	
			    @include transform(translate(0%,-50%));
			}
			
			select{
			  	width:100%;
			  	
			    text-indent: 10px;
			    line-height: 200%;
			    font-size: 100%;
			    
			  	background: #fff;
			    color:#AAA;
			    
			    @include appearance(none);
			}
		}
		
		.button{
			line-height:43px;
			color:#fff;
			text-align:center;
			background:#FF4230;
			display:table-cell;
		    white-space: nowrap;
			font-size:100%;
			line-height:200%;
		}
		
	}
}

@include keyframes(refresh){
	form{
		@include transform(rotateZ(0deg));
	}
	
	to{
		@include transform(rotateZ(360deg));
	}
}

@media screen and (min-width:$ms480*2){

	
	.form{
		.row{
			
			display: table-row;
			 
			.label{
			  	display: table-cell;
			}
			.text{
			  	display: table-cell;
				input{
				}
			}
			
			.combobox{
			  	display: table-cell;
				
				select{
				
				}
			}
		}
	}
}


@media screen and (min-width:$ms640*2){
	.form{
		width:70%;
		.row{
			display: table-row;
			
			.label{
			  	display: table-cell;
			}
			.text{
			  	display: table-cell;
			}
			
			.combobox{
			  	display: table-cell;
			}
		}
	}
}

@import "mobile/css/funds/deposit";
@import "mobile/css/funds/withdrawal";
@import "mobile/css/funds/transfer";
