@import "base/common";
body{
	.first-page{
		position: fixed;
		top:0;
		left:0;
	    z-index: 999;
	    
		display: inline-block; 
		width: 100%;
		height:100%;
		background: url(../images/firstpage/bg.jpg) no-repeat;
    	background-size: 100% 100%;
    
		opacity: 0;
		
		@include transition;
		
		>.buttons{
			position: relative;
    		z-index: 2;
    		
			text-align: center;
			
			img{
				width: 80%;
				
				&.title{
					width: 50%;
				}
			}
		}
		
		>.hand{
		    position: absolute;
		    bottom: -100%;
		    right: 0;
		    z-index: 1;
		    
    		text-align: center;
		    
			@include transition;
			
		    img{
		   		width:70%;
		    }
		}
		
		>.footer{
			position: absolute;
		    bottom: 0;
		    z-index: 2;
		    
		    width:100%;
		    
		    font-size: 10px;
		    line-height: 20px;
		    
		    
		    .text-1{
		    	padding-left:2em;
		    	
    			font-size: 120%;
		    	text-align: left;
		    	
		    	background-color: transparent;
		    	color: #fff;
		    }
		    
		    .text-2{
		    	text-align: center;
		    	
		    	background-color: $primary3;
		    	color: #c47e09;
		    }
		}
	}
}

body > .main-wrap > .content .fixed-message {
	position: absolute;
	z-index: 1;
	bottom: 50px;
	right: -100%;
	opacity: 0;
	
	width:25%;
	
	@include transition;
	
	&.show {
		right: 0;
		opacity: 1;
	}
	
	img{
		width:100%;
	}
	
	.close {
		position: absolute;
		top: -10px;
		left: -10px;
		
		display: inline-block;
		width: 3em;
		height: 3em;
		border-radius: 50%;
		
		text-align: center;
		line-height: 3em;
		
		background-color: #5f5f5f;
		color: #fff;
	}
	
}

body{
	>.system-message{
		position: fixed;
	    top: 0;
	    left: 0;
	    z-index: 5;

	    width: 100%;
	    height: 100%;
	    overflow-y: auto;
	    
	    background-color: rgba(0, 0, 0, 0.79);
	    
	    &.top{
	    	>.box{
	    		top:2em;
	    		
	   			@include transform(translate(0,0));
			}
	    }
	    
	    >.box{
			position: relative;
			top:2em;
			
			@include transition;
	    
		    >.close{
			    position: absolute;
			    top:0;
			    right:0;
			    z-index:3;
			    
			    display:inline-block;
			    width: 3em;
			    height: 3em;
    			margin: 1em;
			    border-radius:50%;
			    
	    		text-align: center;
	    		line-height: 3em;
	    
	    		background-color: #e09624;
	    		color: #fff;
		    }
		    
		    .content{
			    position: relative;
			    top:5em;
			    z-index:3;
			    
		        width: 90%;
			    min-height: 5em;
			    margin: 0 auto;
    			padding: 1em 2em 1em 2em;
			    border-radius: 2px;
    			border: 15px solid #e09624;
			    
			    background-color: #35240b;
			    
				@include box-shadow( 0 19px 60px rgba(0,0,0,.3),0 15px 20px rgba(0,0,0,.22));
				
				.title1{
				    text-align: center;
				    font-weight: 700;
				    font-size: 120%;
				    
				    color: #e09624;
				}
				
				.text1{
				    font-size: 90%;
    				text-indent: 2em;
    				
				    color: #fff;
				}
				.title2{
				    font-weight: 700;
				    font-size: 120%;
				    
				    color: #e30751;
				}
				
				.text2{
				    font-size: 90%;
    				text-indent: 2em;
    				
				    color: #3675BC;
				}
				
	    
			    .image1{
				    position: absolute;
				    z-index:4;
	    			bottom: -15px;
	    			left: -40px;
				    
				    display: inline-block;
		        	width: 25%;
			    }
		    
			    .image2{
				    position: absolute;
				    z-index:4;
	    			bottom: -15px;
	    			right: -40px;
				    
				    display: inline-block;
		        	width: 25%;
			    }
		    }
		    
		    .background{
			    position: relative;
			    z-index:1;
			    
			    padding: 1em;
			    margin: 0 auto;
			    border-radius: 2px;
			    background-color: rgb(234, 98, 87);
		    }
	    }
	}
}
		
body>.main-wrap{
	
	section{
		display: inline-block;
		padding:1em .5em 2em .5em;
		
		.section-title{
			font-size:120%;
			line-height: 200%;
			letter-spacing: 2px;
			
			text-shadow:1px 1px 5px #bebebe;
		}
		
		.section-info{
			margin:0.5em;
			
			font-size:70%;
			text-indent: 1em;
		}
	}
	
	.banner-section{
		float: left;
		width:100%;
		padding:0;
		
	  	text-align: center;
		
		.swiper-wrapper{    
			will-change: transform;
			height:auto !important;
			
			.swiper-slide{
				display:block;
				height:auto !important;
	    		width: 100% !important;
			}
		}
		
	    .common-marquee{
	        position: relative;
			z-index: 1;
	        
	 		min-height: 1.8em;
	    	padding:.2em;
	    	
	 		background-color: #3f3b35;
			color:#fff;
	        
			.text{
				padding-left: 1em;
	 			letter-spacing: 1px;
			}
			
	    	.icon{
				position: absolute;
				top:0;
				left:0;
	    		float:left;
				z-index: 1;
				
				padding: .2em .5em .2em .5em;
				background-color: #3f3b35;
	    		
			}
	    }
	}
	
	
	.game-section{
	    
  		.game-box{
		    text-align:center;
    		
		    .icon{
		    	width: 2em;
			    height: 2em;
			    margin: .2em auto;
			    
			    font-size: 2em;
			    text-align: center;
			    line-height: 2em;
			    font-weight: bold;
			    
			    color: $primary2;
			    
			    span{
			    	font-size:70%;
			    }
		    }
		    
		    .text{
			    text-align: center;
				text-shadow:1px 1px 5px #bebebe;
			    font-size:80%;
		    }
  		}
	}
	
	.shortcut-section{
  			
  		.action-box{
		    text-align:center;
		    
		    .icon{
		    	will-change: transform;
			    width: 2em;
			    height: 2em;
			    margin: .2em auto;
			    
			    font-size: 2em;
			    text-align: center;
			    line-height: 2em;
			    
			    color: $primary2;
			    
			    span{
			    	font-size:70%;
			    }
		    }
		    
		    .text{
			    text-align: center;
				text-shadow:1px 1px 5px #bebebe;
			    font-size:80%;
		    }
		    
		    .unread-count{
   				position: absolute;
			    z-index: 1;
			    top: 0;
			    left: 60%;
			    float: left;
			    color: #FF5555;
			    font-weight: 700;
			    font-size: 1.5em;
			    line-height: 1em;
			   	text-shadow:1px 1px 1px rgba(0, 0, 0, .46);
		    }
  		}
	}
}


.teach-screen{
	position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    
    display:none;
    height: 100%;
    width: 100%;
    background-color: rgba(81, 123, 189, 0.93);
    
    .teach-left{
	    position: absolute;
	    top: 0;
	    left: 0;
	    
   		width: 8em;
	    padding-left:.5em;
	    
	    font-size:130%;
	    line-height: 250%;
	    
	    color: $primary;
	    
	    .arrow{
	    	display: inline-block;
		    padding-right: 2em;
		    padding-bottom: 1em;
		    
		    @include transform(rotate(90deg));
	    }
	    
	    .explanation{
   			position: absolute;
   			top: 5em;
   			left: .5em;
   			
   
		    border: 1px solid $primary;
		    border-radius: 4px;
		    padding: 1em;
	    
		    font-size: 80%;
		    line-height: 150%;
		    
		    background-color:#fff;
		    color: $primary;
		    
		    ul{
		    	padding-left: 1.5em !important;
		    }
		    
		    .title{
   				letter-spacing: .1em;
		    }
		    
	    	.detail{
   				padding-left: 1em;
   				
	    		text-align: left;
		    	font-size: 80%;
	    	}
	    }
    }
    
    .teach-right{
	    position: absolute;
	    top: 0;
	    right: 0;
	    
	    
   		width: 8em;
	    padding-right:.5em;
	    
   		font-size: 130%;
   		text-align: right;
	    line-height: 250%;
	    
	    color: $primary;
	    
	    .arrow{
	    	display: inline-block;
		   	padding-left: 1.5em;
   			padding-bottom: 1em;
		    
		    
		    @include transform(rotate(-90deg));
	    }
	    
	    .explanation{
   			position: absolute;
   			top: 5em;
   			right: 0.5em;
	    
		    border: 1px solid $primary;
		    border-radius: 4px;
		    padding: 1em;
		    
		    font-size: 80%;
		    line-height: 150%;
		    
		    background-color:#fff;
		    color: $primary;
		    
		    
		    ul{
		    	padding-left: 1.5em !important;
		    }
		    
		    .title{
   				letter-spacing: .1em;
		    }
		    
	    	.detail{
   				padding-left: 1em;
   				
	    		text-align: left;
		    	font-size: 80%;
	    	}
	    }
    }
    
    .button{
        position: absolute;
	    top: 50%;
	    left: 50%;
	    
		
	   	@include transform(translate(-50%,0));
    }
    
    .footer{
		position: absolute;
	    bottom: 0;
	    left: 0;
	    z-index: 2;
	    
		width:100%;
    	border-top: 1px solid #aaa;
		overflow-y:hidden;
		
		background-color:#fff;
		
		.action{
		    
			white-space: nowrap;
			
			.item{
				display:inline-block;
    			width: 5em;
				text-align: center;
				
				color:#9C9C9C;
			    
			    .icon{
				    font-size: 2em;
			    }
			    
			    &:FIRST-CHILD {
			    	border-left:0;
				}
				
				&.active{
					color:#FFA34C;
				}
	  		}
	  		
	  		.text{
	  			font-size: 80%;
	  		}
		}
	}
}