@import "base/common";
body>.main-wrap>.content{
	padding-top:1em;
}

			
p{
    text-indent: 2em;
    font-size: 80%;
    letter-spacing: 1px;
    line-height: 200%;
}

.h4{
    color: #6BA6DA;
}

ol{
    padding-left: 20px;
    
	font-size: 80%;
    letter-spacing: 1px;
    line-height: 200%;
}