<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

	<bean id="arbitrageDao" class="dfh.dao.ArbitrageDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactoryArbitrage" />
	</bean>


	<bean id="blDao" class="dfh.dao.BLDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactoryBL" />
	</bean>		
	
	<bean id="slaveDao" class="dfh.dao.SlaveDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactorySlave" />
	</bean>
	
	<bean id="guestbookDao" class="dfh.dao.GuestbookDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactoryEmail" />
	</bean>
	
	<bean id="profitEaDao" class="dfh.dao.ProfitEaDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactoryProfit" />
	</bean>

	<bean id="universalDao" class="dfh.dao.UniversalDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="telvisitDao" class="dfh.dao.TelvisitDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="userstatusDao" class="dfh.dao.UserstatusDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="bankinfoDao" class="dfh.dao.BankinfoDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="logDao" ref="logDao"></property>
		<property name="merchantPayDao" ref="merchantPayDao" />
	</bean>
	
	<bean id="merchantPayDao" class="dfh.dao.MerchantPayDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="telvisitremarkDao" class="dfh.dao.TelvisitremarkDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="telvisittaskDao" class="dfh.dao.TelvisittaskDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="howToKnowStatisticsDao" class="dfh.dao.HowToKnowStatisticsDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="fundStatisticsDao" class="dfh.dao.FundStatisticsDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="userbankinfoDao" class="dfh.dao.UserbankinfoDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="gameinfoDao" class="dfh.dao.GameinfoDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="seqDao" class="dfh.dao.SeqDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="logDao" class="dfh.dao.LogDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="tradeDao" class="dfh.dao.TradeDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="logDao" ref="logDao" />
	</bean>

	<bean id="userDao" class="dfh.dao.UserDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="configurationEncryptor" ref="configurationEncryptor"></property>
		<property name="logDao" ref="logDao"></property>
	</bean>

	<bean id="transferDao" class="dfh.dao.TransferDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="taskDao" class="dfh.dao.TaskDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="operatorDao" class="dfh.dao.OperatorDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="proposalDao" class="dfh.dao.ProposalDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="announcementDao" class="dfh.dao.AnnouncementDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="netPayDao" class="dfh.dao.NetPayDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="getdataDao" class="dfh.icbc.getdata.dao.impl.GetdataDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="constDao" class="dfh.dao.ConstDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="smWeeklyDao" class="dfh.dao.SlotsMatchWeeklyDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="qifnDao" class="dfh.dao.QqInfFromNetDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="mgsDao" class="dfh.dao.MGSDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactoryMGS"/>
	</bean>

	<bean id="activityCalendarDao" class="dfh.dao.ActivityCalendarDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="bankStatusDao" class="dfh.dao.BankStatusDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="replyInfoDao" class="dfh.dao.ReplyInfoDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	
	<bean id="topicInfoDao" class="dfh.dao.TopicInfoDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="topicStatusDao" class="dfh.dao.TopicStatusDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
			<!--换线业务 -->  
	<bean id="changeLineUserDao" class="dfh.dao.ChangeLineUserDao" scope="prototype">
	          <property name="sessionFactory" ref="sessionFactory" />
   </bean>
</beans>